.contact-preview {
    display: flex;
    // flex-direction: column;
    background-color: #f6f6f6;
    text-align: center;
    box-shadow: 3px 4px 15px $clr1;
    border-radius: 0.8em;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom right;
    // overflow-y: hidden;
    margin: 10px 0px;
    h2{
        margin-left: 1em;
    }
    &:hover{
        box-shadow: 3px 4px 15px #1f3b456a;
        
    }
    .info {
        padding: 10px;
        flex-grow: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .actions {
        opacity: 0;
        width: 8em;
        display: flex;
        // flex-direction: column;
        align-items: center;
        background-color: #000000d1;
        // transform: translateX(50%);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border-top-right-radius: 0.8em ;
        border-bottom-right-radius: 0.8em ;
        > * {
            background: none;
            border: none;
            color: whitesmoke;
            margin: auto;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &:hover .actions {
        // transform: translateX(0);
        opacity: 1;

    }

}