// Colors
$clr1: #da9b25;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #f4f6f8;
$clr6: #e5e5e5;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
